.socials-header {
    text-align: center;
    margin-bottom: 4px;
}

.socials-header + * {
    margin-top: 0;
}

.events-header {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
}

.events-header + * {
    margin-top: 0;
}

.event {
    margin: auto;
}

.site-title {
    text-align: center;
    margin-bottom: 0;
}

.footer-logo {
    display: inline;
    vertical-align: middle;
    height: 24px;
}
