{{ partial "game-jam-resources.html" . }}

<div class="project-container">
    <div>
        <h2>{{ .Get "name" }}</h2>
        <p>{{ .Get "desc" }}</p>
    </div>
    <div class="content-frame pointer" id="{{ .Get "id" }}">
        <img class="submission-contents" src="{{ path.Join (.Get "path" | relURL) (.Get "img") }}">
        <div class="overlay">
            <div class="spinner invisible"></div>
            <p class="overlay-text invisible">Click to load</p>
        </div>
    </div>
    <script>
        setupUnityFrame(document.getElementById("{{ .Get "id" }}"), "{{ .Get "path" | relURL }}")
    </script>
</div>
